{{% BLOCKS }}
<!DOCTYPE html>
<html>

<head>
  <title>{{$ title }}My Awesome Site{{/ title }}</title>
  {{$ stylesheets }}
  {{/ stylesheets }}
</head>

<body>
  <div id="app">
    {{$ content }}
    {{/ content }}
  </div>
  {{$ scripts }}
  {{/ scripts }}
</body>

</html>